* {
    outline: 0;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
}